@{
    ViewData["Title"] = "Home";
}
<style>
    body{
        background-image: url('/images/HomePageBg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 90vh;
        color: white;
    }
</style>

<h1>@ViewData["Message"]</h1>
<p></p>
